.nav {
  width: 430px;
  display: flex;
  justify-content: flex-end;
}

.nav > a {
  width: 40px;
  font-size: 20px;
}

.nav > a:hover, .nav > a:active{
  color: aquamarine;
}

a {
  text-decoration: none;
  color: white;
}
